#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        ht: ht {
            compatible = "zmk,behavior-hold-tap";
            label = "HT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    macros {
        if_macro: if_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I &kp F &kp SPACE &kp LPAR>;
            label = "IF_MACRO";
        };

        consolelog_macro: consolelog_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp C &kp O &kp N &kp S &kp O &kp L &kp E &kp DOT &kp L &kp O &kp G &kp LPAR &kp GRAVE &kp DLLR &kp LEFT_BRACE>;
            label = "CONSOLELOG_MACRO";
        };

        tmux_win_0: tmux_win_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(B) &kp N0>;
            label = "TMUX_WIN_1";
        };

        tmux_win_1: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(B) &kp N1>;
            label = "NEW_MACRO";
        };

        tmux_win_2: tmux_win_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(B) &kp N2>;
            label = "TMUX_WIN_2";
        };

        tmux_win_3: tmux_win_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(B) &kp N3>;
            label = "TMUX_WIN_3";
        };

        tmux_ctrl_b: tmux_ctrl_b {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(B)>;
            label = "TMUX_CTRL_B";
        };

        tmux_split_v: tmux_split_v {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(B) &kp PERCENT>;
            label = "TMUX_SPLIT_V";
        };

        tmux_split_h: tmux_split_h {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(B) &kp DOUBLE_QUOTES>;
            label = "TMUX_SPLIT_H";
        };

        tmux_new: tmux_new {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(B) &kp C>;
            label = "TMUX_NEW";
        };

        tmux_exit: tmux_exit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(B) &kp D>;
            label = "TMUX_EXIT";
        };

        open_newline: open_newline {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp END &kp ENTER>;
            label = "OPEN_NEWLINE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&tmux_ctrl_b  &kp N1     &kp N2            &kp N3          &kp N4                &kp N5  &mkp RCLK                                                                        &mo 3           &kp N6  &kp N7                 &kp N8           &kp N9             &kp N0     &kp MINUS
&kp TAB       &kp Q      &kp W             &kp E           &kp R                 &kp T   &mkp LCLK                                                                        &kp UNDERSCORE  &kp Y   &kp U                  &kp I            &kp O              &kp P      &kp BSLH
&kp ESC       &kp A      &kp S             &kp D           &kp F                 &kp G   &kp EQUAL     &kp LCTRL       &kp LALT           &kp RIGHT_ALT  &kp RCTRL        &kp PLUS        &kp H   &kp J                  &kp K            &kp L              &kp SEMI   &kp SQT
&mo 2         &kp Z      &kp X             &kp C           &kp V                 &kp B                                 &tog 1             &mo 5                                           &kp N   &kp M                  &kp COMMA        &kp DOT            &kp FSLH   &mo 2
&tog 4        &kp GRAVE  &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS          &kp LEFT_GUI  &kp LEFT_SHIFT  &kp BACKSPACE      &kp ENTER      &kp RIGHT_SHIFT  &kp SPACE               &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &kp GRAVE  &mo 2
            >;
        };

        gaming {
            display-name = "gm";
            bindings = <
&kp N0    &kp N1          &kp N2  &kp N3  &kp N4          &kp N5  &kp Y                                                               &mo 3      &kp N6     &kp KP_NUM      &kp KP_EQUAL    &kp KP_DIVIDE    &kp KP_MULTIPLY  &kp MINUS
&kp TAB   &kp LEFT_SHIFT  &kp Q   &kp W   &kp E           &kp R   &kp T                                                               &none      &kp CARET  &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &kp KP_MINUS     &kp BSLH
&kp ESC   &mkp RCLK       &kp A   &kp S   &kp D           &kp F   &kp G      &kp LCTRL  &kp LALT      &kp RIGHT_ALT  &kp RCTRL        &none      &kp AMPS   &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp KP_PLUS      &kp SQT
&kp CAPS  &kp Z           &kp X   &kp C   &kp V           &kp B                         &trans        &trans                                     &kp PIPE   &kp KP_N1       &mmv MOVE_DOWN  &kp KP_N3        &kp KP_ENTER     &trans
&kp N6    &kp N7          &kp N8  &kp N9  &kp LEFT_SHIFT          &mkp LCLK  &kp SPACE  &kp BSPC      &kp ENTER      &kp RIGHT_SHIFT  &kp SPACE             &kp UP          &kp DOWN        &kp KP_DOT       &kp RBKT         &trans
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2   &kp F3               &kp F4             &kp F5         &kp F6              &none                                              &none   &kp F7          &kp F8          &kp F9        &kp F10          &kp F11      &kp F12
&trans  &trans   &kp LC(RIGHT_ARROW)  &kp END            &kp LC(LS(Z))  &tmux_new           &tmux_split_v                                      &none   &kp LC(C)       &kp LC(Z)       &kp INSERT    &open_newline    &kp LC(V)    &trans
&trans  &kp END  &kp LEFT             &kp LC(X)          &kp RIGHT      &tmux_ctrl_b        &tmux_split_h  &trans  &trans      &trans  &trans  &none   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans       &trans
&trans  &trans   &kp DELETE           &kp HOME           &kp END        &kp LC(LEFT_ARROW)                         &trans      &trans                  &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END          &trans       &trans
&trans  &trans   &kp LC(DELETE)       &kp LC(BACKSPACE)  &trans                             &trans         &trans  &trans      &trans  &trans  &trans                  &tmux_win_0     &tmux_win_1   &tmux_win_2      &tmux_win_3  &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none      &none           &none           &none            &none  &none
&none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none      &msc SCRL_UP    &mmv MOVE_UP    &msc SCRL_RIGHT  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &mkp RCLK  &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &none  &none
&none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none      &msc SCRL_DOWN  &mmv MOVE_DOWN  &msc SCRL_LEFT   &none  &none
&trans          &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG             &bl BL_INC      &bl BL_DEC      &none            &none  &none
            >;
        };

        mostly-mouse {
            display-name = "l4";
            bindings = <
&none       &kp N1  &kp N2          &kp N3          &kp N4           &kp N5     &none                                                                               &mo 6      &kp N6     &kp N7          &kp N8          &kp N9           &kp N0  &none
&kp TAB     &kp Q   &kp W           &mmv MOVE_UP    &kp R            &kp T      &none                                                                               &none      &kp Y      &msc SCRL_UP    &mmv MOVE_UP    &msc SCRL_RIGHT  &none   &none
&kp ESCAPE  &kp A   &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &mkp RCLK  &none         &kp LEFT_CONTROL  &kp LEFT_ALT      &kp RIGHT_ALT  &kp RIGHT_CONTROL  &none      &mkp RCLK  &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &none   &none
&none       &kp Z   &msc SCRL_LEFT  &mmv MOVE_DOWN  &msc SCRL_RIGHT  &kp B                                      &trans            &trans                                       &kp N      &msc SCRL_DOWN  &mmv MOVE_DOWN  &msc SCRL_LEFT   &none   &trans
&trans      &none   &none           &kp C           &kp V                       &kp LEFT_GUI  &kp LEFT_SHIFT    &kp BSPC          &kp ENTER      &kp RIGHT_SHIFT    &kp SPACE             &kp UP_ARROW    &kp DOWN_ARROW  &none            &none   &trans
            >;

            label = "l4";
        };

        programming {
            bindings = <
&trans  &trans                &trans     &trans                &trans                &trans                 &trans                                      &trans  &trans  &trans  &trans     &trans  &trans  &trans
&trans  &kp F                 &kp GRAVE  &kp LEFT_PARENTHESIS  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans                                      &trans  &trans  &trans  &if_macro  &trans  &trans  &trans
&trans  &kp LEFT_PARENTHESIS  &kp GRAVE  &kp DOLLAR            &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans     &trans  &trans  &trans
&trans  &kp I                 &kp F      &consolelog_macro     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS                  &trans      &trans                  &trans  &trans  &trans     &trans  &trans  &trans
&trans  &trans                &trans     &trans                &trans                                       &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans     &trans  &trans  &trans
            >;
        };

        mod_2 {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none      &none           &none           &none            &none  &none
&none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none      &msc SCRL_UP    &mmv MOVE_UP    &msc SCRL_RIGHT  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &mkp RCLK  &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &none  &none
&none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none      &msc SCRL_DOWN  &mmv MOVE_DOWN  &msc SCRL_LEFT   &none  &none
&trans          &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG             &bl BL_INC      &bl BL_DEC      &none            &none  &none
            >;
        };
    };
};
